/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background and text colors for both light and dark modes */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #000000
}

.light-mode {
    background-color: #ffffff;
    color: #333333;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Style the header */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#dark-mode-toggle {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.moon {
    cursor: pointer;
    font-size: 24px;
}

.moon :hover{
    color: black;
    transition: 0.3s;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about p{
    margin-top: 1rem;
}

.hero {
    text-align: center;
    padding: 4rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.projects {
    text-align: center;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Style the footer */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .projects h2 {
        font-size: 1.8rem;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 10px 0;
    }

}
